<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>

    <!-- Bootstrap -->
    <link href="Public/asset/css/bootstrap.css" rel="stylesheet">
    <link href="Public/asset/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/admin">Admin control pannel</a>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">Admin control pannel</h1>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h3><u><strong>Listes des appareils : </strong></u></h3>
        </div>
        <div class="col-md-offset-10 col-md-2">
            <button type="button" class="btn btn-success">Ajouter Device</button>
        </div>
        <div class="col-md-12">
            <table class="table text-center table-responsive">
                <thead>
                <tr>
                    <th class="text-center">Device ID</th>
                    <th class="text-center">Connection State</th>
                    <th class="text-center">Cloud To Device Message Count</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Device_01</td>
                    <td class="success">Connected</td>
                    <td>1</td>
                    <td class="success">Online</td>
                    <td>
                        <button type="button" id="select-device" class="btn btn-success btn-sm">Sélectionner</button>
                        <button type="button" id="delete-device" class="btn btn-danger btn-sm">Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>Device_02</td>
                    <td class="danger">Not Connected</td>
                    <td>3</td>
                    <td class="danger">Offline</td>
                    <td>
                        <button type="button" id="select-device" class="btn btn-success btn-sm">Sélectionner</button>
                        <button type="button" id="delete-device" class="btn btn-danger btn-sm">Supprimer</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row well" id="control-pannel">
        <div class="col-md-2 col-md-offset-10">
            <button type="button" class="btn btn-danger" id="close-control-pannel"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>
        <div class="text-center col-md-6 col-md-offset-3">
            <u>Commande à envoyer au <strong>Device_01</strong> : </u>
        </div>
        <div class="col-md-2 col-md-offset-5">
            <div class="checkbox">
                <label><input type="checkbox" value="">Ping</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">Deactivate</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">A déterminer</label>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-10">
            <button type="button" class="btn btn-success">Envoyer</button>
        </div>
    </div>
    <hr>
    <h1>{{title}}</h1>
    <div>
        <table border="1">
            <tbody>
            {% for order in orders %}
            <tr>
                <td>
                    <p>Constructeur: {{ order.Constructeur._ }} || Référence: {{ order.Reference._ }}</p>
                    <p>CreatedDate: {{ order.Timestamp._|date('Y-m-d') }}</p>
                    <p>PartitionKey: {{ order.PartitionKey._ }} || RowKey: {{ order.RowKey._ }}</p>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <hr>
        <div class="row">
            <div class="text-center col-md-6 col-md-offset-3">
                <p>Copyright &copy; 2017 &middot; All Rights Reserved &middot; <br><br> Antoine MAITRE &amp; Thomas DORET &amp; Sylvain GIRARDET </p>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="Public/asset/js/jquery-1.11.3.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="Public/asset/js/bootstrap.js"></script>
<script src="Public/asset/js/admin.js"></script>
</body>
</html>
